
## name spaces needed for S3 methods
import(SuperLearner)
import(gam)
import(glmnet)
import(stringr)
import(fastDummies)
import(gdata)
import(ggplot2)
import(ggpubr)
import(MASS)
importFrom("graphics", "par")
importFrom("stats", "as.formula", "binomial", "quasibinomial", "gaussian" ,"sigma", "qlogis", "formula", "glm", "lm",
            "model.matrix", "plogis", "predict", "predict.glm", "rbinom", "coef", "rnorm")
S3method(print, summary.bdt)
S3method(summary, bdt)
S3method(plot, bdt)
S3method(bias, bdt)
S3method(plot, ps)
S3method(print, summary.ps)
S3method(summary, ps)
export(ps)
export(bdt)
export(bias)

